APP_ENV=development
API_MODE=combined
MEDIA_STORAGE=local

# Authentication enabled
AUTH_ENABLED=true
AUTH_PROVIDER=clerk

# Neon DB Storage enabled
STORAGE_BACKEND=neon
NEON_DATABASE_URL=postgresql://neondb_owner:YOUR_NEON_GIVEN_URL
